#main-header {
    background: #333;
    color: white;
    height: 80px;
}
#main-header a {
    color: white;
}

nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 10px;

}

nav ul li a:hover {
    background: red;
}
.imagen_principal{
    position: static;
}
.intro_pagina{
    font-size: large;
    text-align: center;
    padding-left: 10%;

}
.tipo_coche{
    border: double;
    margin-top: 10%;
}